.wrap-footer{
  display: flex;
  flex-direction: row;
  background-color: #303030;
  width: 100%;
}

.wrap-logo-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.logo-ba-footer{
  width: 10%;
  padding: 1rem 2rem;
  cursor: pointer;
}

.logo-ba img{
  width: 70%;
  height: 70%;
}
.nav-menu-footer{
  font-weight: 100;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-menu-footer ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0rem 2rem 0rem 0rem;
  margin: 0;

}
.nav-item{
  margin: 4px;
}

.nav-item a{
  width: 50%;
  transition: .2s;
}

.nav-item a:hover{
  color:#C1272D;
}
/*
=================
    TO TOP BTN
=================
*/
#to-top-btn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #C1272D;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#to-top-btn button{
  background-color: #C1272D;
  color: #ffffff;
  border: none;
  border: 1px solid transparent;
  transition: .3s;
}
#to-top-btn button:hover{
  border: 1px solid gray;
  // font-size: 20px;
}

@media (max-width: 900px){
  .nav-menu-footer{
    display: none;
  }
}
