.modal-display-none{
  display: none;
}
.modal-display-flex{
  display: flex;
}
.modal-position{
  position: fixed;
  top: 5%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 800px;
  background-color: rgba(0,0,0,0.4);
}
.modal-title{
  position: relative;
  z-index: 12;
  color: #ffffff;
}