h3{
  font-size: 15px;
  color: gray;
  
}
.flex-space-around{
  justify-content: space-around;
}
.flex-space-around-y{
  align-items: space-around;
}
.flex-space-between{
  justify-content: space-between;
}
.padding-2rem{
  padding: 2rem 2rem 2rem 2rem;
}
.padding-left-right{
  padding: 0rem 2rem 0rem 2rem;
}
.padding-top-bottom{
  padding: 2rem 0rem 2rem 0rem;
}

.padding-top{
  padding-top: 2rem;
}
.width-10{
  width: 10%;
}
.width-25{
  width: 25%;
}
.width-30{
  width: 30%;
}
.width-33{
  width: 33.33333%;
}
.width-50{
  width: 50%;
}
.width-55{
  width: 55%;
}
.width-45{
  width: 45%;
}
.width-60{
  width: 60%;
}
.width-70{
  width: 70%;
}
.width-80{
  width: 80%;
}
.width-90{
  width: 90%;
}
.width-100{
  width: 100%;
}
.height-200px{
  height: 200px;
}
.border-blue{
  border: 1px solid blue;
}
.row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column-start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.column-left{
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  align-items: flex-start;
}
.row-left{
  display: flex;
  flex-direction: row;
  // justify-content: flex-start;
  // align-items: flex-start;
}
.row-left-top{
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;
}
.display-flex{
  display: flex;
}
.modal-display-none{
  display: none;
}
.modal-display-flex{
  display: flex;
}
.position-absolute{
  position: absolute;
  top: 8%;
  right: 2%;
  z-index: 10;
}

.position-relative{
  position: relative;
  top: 10%;
  left: 0;
  z-index: 10;
}
.modal-position{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
}
.wrap-modal-form{
  width: 80%;
  height: 80%;
  background-color: #ffffff;
}
.modal-title{
  position: relative;
  z-index: 12;
  color: #ffffff;
}

.modal-form-title{
  padding: .5rem 0rem;
}
.modal-form-title h3{
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 4px;
  padding-top: 1rem;
}
.close-x{
  cursor: pointer;
}
.close-x span{
  font-size: 35px;
  color: #3d3c3c;
  cursor: pointer;
}
.form-item input{
  margin-right: 10px;
  border-radius: 5px;
}
.form-item input[type="text"]{
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px; 
  width: 100%;
  border: 2px solid rgb(238, 238, 238);
  border-radius: 8px;
}
.form-item label, .modal-form-item label{
  color: #3d3c3c;
  font-size: 12px;
  margin: 0;
}
.row-left textarea{
  border-radius: 0px;
  width: 100%;
  height: 90%;
  border: 2px solid rgb(238, 238, 238) !important;
  border-radius: 8px;
}
.modal-form-item input{
  border: 2px solid rgb(238, 238, 238);
  font-size: 12px; 
  border-radius: 8px;
  color: #3d3c3c;
}
.row-left textarea{
  border-radius: 8px;
  font-size: 12px; 
}

.btn-send button{
  padding: .3rem 3rem;
  background-color: #C1272D;
  border-radius: 10px;
  font-size: 15px;
  color: #ffffff;
}