
.carousel-caption{
	top: 43%;  
}

.layer-slider{
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.layer-slider-content{
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.carousel-caption{
    position: absolute;
    z-index: 235;
}
.hero-btn{
    display:flex;
    justify-content: center;
    position: absolute;
		// bottom: 80px;
		top: 80%;
    left: 0;
    right: 0;
    z-index: 5;
    margin-right: 15%;
    margin-left: 15%;   
	cursor: pointer;
}
.hero-btn input{
	position: relative;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
	padding: .8rem 3.5rem;
	border: none;
	border-radius: 10px;
	margin-left: 3px;
	margin-left: 3px;
	flex: 0 1 auto;
	cursor: pointer;
	transition: .3s;
}
.hero-btn input:hover{
	background-color: rgba(0,0,0,0.9);
	letter-spacing: 2px;
}
@media (max-width: 850px){
	.carousel-caption{
		bottom: 40%;
	}

}

@media (max-width: 767px){
	.carousel{
		margin-top: 128px;
	}
	.hero-btn{
		top: 60%;
	}
	.carousel-caption{
		top: 25%;
	}
	// .carousel-control-prev{
	// 	top: 100px;
	// }
	// .carousel-control-next{
	// 	top: 100px;
	// }
	.display-none-2{
		display: none;
	}
}
@media (max-width: 920px) {
	.carousel{
		margin-top: 130px;
	}
}

@media (max-width: 600px){
	// .carousel{
	// 	margin-top: 150px;
	// }
	.hero-btn{
		top: 70%;
	}
	.carousel-caption h1{
		font-size: 25px;
	}
	.carousel-caption p{
		font-size: 15px;
		
	}
	.hero-btn input{
		padding: .5rem 3rem;
	}
}

@media (max-width: 600px){
	.carousel-caption{
			top: 15%;
	}
}
@media (max-width: 500px){
	.carousel{
		margin-top: 110px;
	}
}
